.navbar {
  display: flex;
  align-items: center;
  justify-content:left;
  padding: 0 5px;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
}

#navbar_heading {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--theme_2);
  cursor: pointer;
}

#logo {
  height: 35px;
  margin-right: 1px;
}
.navbar_links {
  display: flex;
  align-items: center;
}
.navbar_links > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--body_color);
  text-decoration: none;
  padding: 0 15px;
}
