.game-review {
  display: grid;
  padding: 20px;
  margin: 20px;
  grid-template-columns: 50% 50%;
}
.chessboard-container {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  justify-self: end;
  border: 2px solid white;
  width: calc(600px);
  height: calc(600px);
  background-color: var(--theme_1);
}

.review-panel-container {
  background: var(--theme_1);
  border: 2px solid white;
  margin-left: 30px;
  width: 400px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: top;
}

.review-panel-container:hover {
  border: 2px solid #ffe400 ;
}
.chessboard-container:hover {
  border: 2px solid #ffe400 ;
}
