.game-review {
  display: grid;
  padding: 20px;
  margin: 20px;
  grid-template-columns: 60% 40%;
}
.chessboard-container {
  display: flex;
  margin-right: 100px;
  align-items: center;
  justify-content: left;
  border-radius: 20px;
  justify-self: end;
  width: calc((113vh) - (80.33px));
  height: calc((110vh) - (80.33px));
  background-color: var(--theme_1);
  padding: 5px;
  padding: 10px;
  border: 2px solid white;
}

.review-panel-container {
  display: grid !important;
  grid-template-rows: 42% 58%;
  background: var(--theme_1);
  border: 2px solid white;
  margin-left: 30px;
  width: 400px;
  height: calc((110vh) - (80.33px));
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -8px;
}

.report-card-container {
  height: 200px;
  justify-items: center;
  align-self: top;
}

.eval-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
}
