@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.opening-info {
  display: flex;
  border-radius: 10px;
  color: var(--primary_color);
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.opening-info-text {
  text-align: start;
  font-family: "Lato", sans-serif;
  padding: 3px;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  font-size: 14px;
}

.opening-info-image {
  width: 16px;
  height: auto;
  margin: 0 10px;
}
