@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.opening-info {
  display: grid;
  grid-template-columns: 1fr 9fr;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 0;
  width: 100%;
  color: var(--primary_color);
  margin: 10px 0;
  text-align: center;
}

#opening-info-text {
  text-align: start;
  font-family: "Lato", sans-serif;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding: 3px;
  font-size: 10px;
}

#opening-info-image {
  width: 10px;
  margin: 0 10px;
}
