@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.opening-info {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color);
  border-radius: 10px;
  padding: 5px 0;
  font-size: 22px;
  width: 315px;
  color: var(--background_color);
  margin: 10px 0;
  text-align: center;
}

#opening-info-text {
  text-align: start;
  font-family: "Lato", sans-serif;
  height: 35px;
  max-width: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

#opening-info-image {
  width: 35px;
  margin: 0 10px;
}
