.game-review {
  display: grid;
  padding: 20px;
  margin: 20px;
  grid-template-columns: 60% 40%;
}
.chessboard-container {
  display: grid;
  margin-right: 100px;
  align-items: center;
  justify-content: left;
  border-radius: 20px;
  justify-self: end;
  width: calc((110vh) - (80.33px));
  height: calc((113vh) - (80.33px));
  background-color: var(--theme_1);
  padding: 5px;
  padding: 10px;
  border: 2px solid white;
  grid-template-columns: 7% 93%;
}

.review-panel-container {
  display: flex;
  flex-direction: column;
  background: var(--theme_1);
  border: 2px solid white;
  margin-left: 30px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.controls-container {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: max-content;
}

.report-card-container {
  height: max-content;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.eval-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.2vh;
  align-self: flex-start;
  width: max-content;
  height: max-content;
}

.opening-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.reporter-opener-container {
  overflow: hidden auto;
  margin-top: 1vh;
  height: 50vh;
}
