.game-review {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
}

@media (max-width: 768px) {
  .game-review {
    flex-direction: column;
  }
}

.chessboard-container {
  display: flex;
  margin: 10px;
}

.review-panel-container {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
