.move-info {
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color);
  border-radius: 10px;
  padding: 5px 0;
  font-size: 22px;
  width: 315px;
  color: var(--background_color);
  margin: 10px 0;
  text-align: center;
}

#move-info-text {
  text-align: start;
  margin-left: 10px;
}

#move-info-image {
  width: 40px;
  margin-right: 10px;
  padding: 0px 0px 0px 15px;
  border-left: 3px solid #123456;
}
