.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--colors_incoming);
  padding: 15px 10px;
  border-radius: 25px;
}
.back-btn {
  border: none;
  background-color: var(--colors_incoming);
  font-size: 22px;
  margin: 3px;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}
.back-btn:hover {
  filter: brightness(95%);
}
.back-btn:active {
  filter: brightness(80%);
  transform: scale(0.95);
}
