.individual_controls {
  font-size: 28px;
  border: none;
  padding: 2px;
  margin: 16px;
  cursor: pointer;
  color: var(--background_color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.individual_controls:hover{
    transform: scale(1.08);
}
