.report-card {
  height: max-content;
  overflow: hidden;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: top;
  background-color: #101010;
}
.move_quality_list{
  align-self: flex-start;
  justify-content: start;
  list-style: none;
}