#review-panel {
  width: 100%;
  height: 250px;
}
#review-panel > hr {
  margin: 10px 0;
}
#game-input {
  display: flex;
  justify-content: center;
  background-color: var(--background_color);
  color: var(--primary_color);
  font-size: 16px;
  border: 2px solid var(--primary_color);
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 40px;
  overflow: auto;
  resize: none;
}
#game-input::placeholder {
  color: rgb(134, 152, 152);
}
#game-input-button {
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--colors_incoming);
  color: var(--primary_color);
  margin-top: 30px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
#game-input-button > a {
  margin-right: 3px;
}
#game-input-type {
  background-color: var(--background_color);
  color: var(--primary_color);
  font-size: 16px;
  border: 2px solid var(--primary_color);
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px;
}
#game-input-box {
  margin-top: 20px;
  background-color: var(--foreground_color);
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  border-radius: 10px;
}
#game-input-button-container {
  display: flex;
  justify-content: center;
}
#review-panel-header {
  width: 70%;
  justify-self: center;
  font-size: 14px;
  font-family: monospace !important;
  background-color: #072434;
  padding: 10px;
  text-wrap: wrap;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

#review-panel-header > h2 {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
#img {
  transition: all 1s ease-in-out;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#game-input-button:hover #img {
  transform: rotate(360deg);
}
#game-input-button:hover {
  transform: scale(1.08);
}
