@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
.navbar {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  background-color: #d4e8f3;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 0.75rem;
  }
}

.navbar-branding {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-heading {
  font-family: "Faculty Glyphic", system-ui;
  font-size: 2.1rem;
  margin: 7px;
  color: var(--secondary_color);
}

#logo {
  height: 3rem;
  margin: 7px;
}

@media (max-width: 600px) {
  .navbar-heading {
    font-size: 1.75rem;
  }

  #logo {
    height: 2.5rem;
  }
}
