.nameplate {
  background-color: #101010;
  font-size: 22px;
  width: calc((99.5vh) - (80.33px));
  display: grid;
  grid-template-columns: 50% 50%;
}
#white-nameplate {
  padding: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#black-nameplate {
  padding: 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#player-rating {
  margin-left: 2px;
  background-color: grey;
  padding: 0 10px;
  border-radius: 8px;
  text-align: right;
  width: fit-content;
}

#rating-holder{
  display: flex;
  justify-content: end;
  padding: 0 5px;
}