@import url("https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap");
.nameplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 35px;
  background-color: var(--primary_color);
}
#player-name {
  font-family: "Matangi";
  font-size: 1rem;
  padding: 10px 40px;
  background-color: var(--background_color);
  color: var(--primary_color);
  border-radius: 25px;
  font-weight: 800;
}
#player-rating {
  margin-left: 2px;
  border-radius: 8px;
  text-align: right;
  padding: 5px 30px;
  font-family: "Menbere";
  font-size: 1.5rem;
  background-color: var(--background_color);
  color: var(--primary_color);
  border-radius: 25px;
}

#rating-holder {
  display: flex;
  justify-content: end;
  padding: 0 5px;
}
