.game-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 700px;
  height: 80vh;
}
#close-btn {
  padding: 0px;
  margin: 10px;
}
#close-btn:hover {
  background-color: transparent !important;
}
.game-box {
  background-color: #4a4a4a;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  height: 6vh;
  font-size: 3vh;
  cursor: pointer;
}
.game-box:last-child {
  margin-bottom: 0;
}

.button-panel {
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #555;
  color: white;
  padding: 6px;
  text-align: center;
  border-top: 2px solid #333;
  background-color: transparent;
}
.info-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: darkslategray;
  color: white;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}
.game-content {
  overflow-y: auto;
  flex-grow: 1;
}

.game-box {
  background-color: #4a4a4a;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.game-box:last-child {
  margin-bottom: 0;
}

.controls-game-list {
  font-size: 32px;
  background-color: transparent;
  color: white;
  border: none;

  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 30px;
  transition: background-color 0.3s;
}

.controls-game-list:hover {
  background-color: #555;
}
