@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono:wght@400;700&display=swap");

.move_quality_img {
  height: 21px;
  margin: 1px 10px;
}
.move_quality_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right_value {
  margin-left: 45px;
}
.left_value {
  margin-right: 45px;
}
.quality_value {
  height: min-content;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oxygen Mono";
  font-size: 1.5rem;
}
#move-info-name {
  width: 200px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
}
.numbers-shi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 10px;
}

.book-move {
  color: #d5a47d;
}
.best {
  color: #81b64c;
}
.mistake {
  color: #ffa459;
}
.inaccuracy {
  color: #f7c631;
}
.blunder {
  color: #fa412d;
}
.good {
  color: #95b776;
}
.excellent {
  color: #81b64c;
}
