.report-card {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  color: var(--background_color);
  background-color: var(--primary_color);
  align-items: center;
  flex-direction: column;
}
.move_quality_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 20px;
}
