.report-card {
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  color: var(--primary_color);
  background-color: var(--colors_incoming);
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.move_quality_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 20px;
}
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 25px;
  margin-top: 10px;
}
.start-review-btn {
  width: 80%;
  background-color: var(--one_more_color);
  border: none;
  font-size: 22px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.start-review-btn:active {
  filter: brightness(80%);
}
