@import url("https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap");
:root {
  --background_color: #e3eef4;
  --primary_color: #072434;
  --secondary_color: #064162;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  border-radius: 11px;
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 11px;
  background: #101820;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #d5e9c3;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background_color);
}
